template(name='author')
  if groupData
    .panel.panel-primary
      .panel-heading.clearfix
        span.title.panel-title Author &ldquo;#{displayUser}&rdquo; (username &lsquo;#{author}&rsquo;, email !{email})
        .pull-right
          span.badge= messageCountText
          if fullMember
            span.badge member
          if partialMember
            span.badge partial
          .message-right-buttons.btn-group.hidden-print
            if super
              if fullMember
                if messages.count
                  a.btn.btn-danger.makePartialMember Make Partial Member
                else
                  a.btn.btn-danger.makePartialMember Remove Membership
            a.btn.btn-default.statsButton(href="{{pathFor 'stats' group=group username=author}}") Statistics
      .panel-body
        each messages
          +submessageHeader
      .panel-footer
        i= messageCountText
        | by #{author} in group #{group}
        span.space
        //-
          xxx can't search global yet -- would need to adjust publication
          if wildLink
            a.btn.btn-warning(href=wildLink) Search All Groups
  else
    +badGroup
