template(name="frontpage")
  h1 Welcome to Coauthor!
  if currentUser
    if groups.count
      .alert.alert-success(role="alert") Choose a <B>group</B> below to get started.
    else if ready
      .alert.alert-danger(role="alert") You do not appear to have access to any groups.  You probably need to <B>talk to someone in charge</B>.
    else
      .alert.alert-warning(role="alert") Loading...
  else
    if groups.count
      .alert.alert-warning(role="alert") Choose a <B>public group</B> below, or <B>sign in</B> (in the upper-right corner) to gain more access.
    else if ready
      .alert.alert-danger(role="alert") Please <B>sign in</B> (in the upper-right corner) to get started.
    else
      .alert.alert-warning(role="alert") Loading...
  h3
    span.badge= groupsMine.count
    | Groups you're a member of
  with groupsMine
    +groupList
  if groupsPartial.count
    h3
      span.badge= groupsPartial.count
      | Groups with partial access
    with groupsPartial
      +groupList
  if groupsAnonymous.count
    h3
      span.badge= groupsAnonymous.count
      | Groups with anonymous access
    with groupsAnonymous
      +groupList
  if canSuper
    h3
      span.badge= groupsOther.count
      | All other groups
    with groupsOther
      +groupList
    .btn-group
      button.btn.btn-info.groupNewButton New Group
      button.btn.btn-warning.recomputeAuthorsButton Recompute Authors
      button.btn.btn-warning.recomputeRootsButton Recompute Roots

template(name="groupList")
  .list-group
    each groups
      a.list-group-item(href="{{pathFor 'group' group=name}}")= name

template(name="groupNew")
  .modal
    .modal-dialog.groupNew
      .modal-content
        .modal-header
          h2 Create New Group
        .modal-body
          .alert.alert-warning <b>Warning:</b> Group creation cannot be undone.  So take care in naming!
          form
            .form-group
              label(for="groupInput") New group name:
              input.form-control(id="groupInput", placeholder="Group")
            .row
              .col-xs-6
                button.btn.btn-block.btn-warning.groupNewButton Create Group
              .col-xs-6
                button.btn.btn-block.btn-success.cancelButton Cancel
