template(name="group")
  if groupData
    .panel.panel-primary
      .panel-heading.clearfix
        span.title.panel-title= group
        +postButtons
      +messageList
      .panel-footer
        +importButton
  else
    +badGroup

template(name="postButtons")
  //button.btn.btn-default.postButton(class=disablePost,name="problem") Pose New Problem
  //button.btn.btn-default.postButton(class=disablePost,name="discussion") Start Discussion Thread
  .pull-right
    button.btn.btn-info.postButton(class=disableClass, data-original-title=disableTitle, data-toggle='tooltip') New Problem/Discussion
    span.space
    .btn-group
      if super
        button.btn.btn-warning.sortSetDefault Set Group Default
      a.btn.btn-default.sortReverse(href=linkToReverse)
        if sortReverse
          span.glyphicon.glyphicon-sort-by-alphabet-alt(aria-hidden="true")
        else
          span.glyphicon.glyphicon-sort-by-alphabet(aria-hidden="true")
      button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
        | #{sortBy}
        span.caret
      ul.dropdown-menu(role="menu")
        each sortKeys
          li.sortKey(class="{{activeSort}}")
            a(href=linkToSort)= key

template(name="messageList")
  //div.list-group
  table.table.table-striped
    thead
      tr
        th Title
        th Creator
        th Creation date
        th(data-toggle="tooltip", title="Number of submessages in thread") Posts
    tbody
      each topMessages
        if canSee
          //a.list-group-item(href=messageLink)
          +messageShort
  i.panel-heading #{topMessageCount}

template(name="importButton")
  if canImport
    input.importInput(type="file", style="display:none")
    button.btn.btn-default.importButton Import
    button.btn.btn-danger.superdeleteImportButton Superdelete Imported

template(name="superdeleteImport")
  .modal
    .modal-dialog
      .modal-content
        .modal-header
          h2 Confirm Superdelete
        .modal-body
          p Are you sure you want to delete ALL imported messages in group &ldquo;#{group}&rdquo;?
          p Superdelete destroys all logs of the message ever existing and cannot be undone.  Use only for silly mistakes.
        .modal-footer
          button.btn.btn-danger.shallowSuperdeleteButton Yes, superdelete
          button.btn.btn-success.cancelButton.fullwidth Cancel

template(name="messageShort")
  tr.messageShort(class=deletedClass)
    td.title.tex2jax
      a(href=messageLink)
        | {{titleOrUntitled}}
        if deleted
          span.label.label-danger Deleted
        else
          unless published
            span.label.label-warning Unpublished
    td.author
      a(href=messageLink)= creator
    td
      a(href=messageLink)
        if published
          | {{formatDate published}}
          //span.author (posed by #{creator} {{formatDate published}})
        else
          | {{formatDate created}}
          //span.author (created by #{creator} {{formatDate created}})
    td
      a(href=messageLink)
        span.badge= submessageCount

template(name="badGroup")
  .alert.alert-danger(role="alert") The group &ldquo;<b>#{group}</b>&rdquo; either does not exist or you do not have permission to access it.
    if currentUser
      p Barring typos, you probably need to <B>talk to someone in charge</B> of the group.
    else
      p You probably need to <B>sign in</B> (in the upper-right corner).
