template(name="group")
  if groupData
    .panel.panel-primary
      .panel-heading.clearfix
        span.title.panel-title= group
        +groupButtons
      +messageList
      .panel-footer.clearfix
        p
          i= topMessageCount
          .groupTags
            each groupTags
              a(href=linkToTag).tagLink
                span.tag.label.label-default= key
              |  
          +importButtons
        .members.alert.alert-info
          p
            b #{membersCount} members of this group:
          p !{members}
  else
    +badGroup

template(name="groupButtons")
  //- button.btn.btn-default.postButton(class=disablePost,name="problem") Pose New Problem
  //- button.btn.btn-default.postButton(class=disablePost,name="discussion") Start Discussion Thread
  .pull-right
    if super
      .btn-group
        button.btn.btn-warning.sortSetDefault Set Group Default Sort
        if globalSuper
          button.btn.btn-danger.groupRenameButton Rename Group
    button.btn.btn-info.postButton(class=disableClass, data-original-title=disableTitle, data-toggle='tooltip') Pose New Problem / Discussion
    .btn-group
      a.btn.btn-default.myPostsButton(class=disableMyPosts,href=linkToMyPosts) My Posts
      a.btn.btn-default.liveButton(href="{{pathFor 'live' group=group}}", title="Show the last n messages, updating live", data-toggle="tooltip") Live Feed
      a.btn.btn-default.sinceButton(href="{{pathFor 'since' group=group}}", title="Show all messages since a specified time in the past", data-toggle="tooltip") Catchup Since...
      a.btn.btn-default.statsButton(href=linkToStats) Statistics
  //- Replaced by clicking columns to trigger sort
    span.space
    .btn-group
      if super
        button.btn.btn-warning.sortSetDefault Set Group Default
      a.btn.btn-default.sortReverse(href=linkToReverse)
        if sortReverse
          span.fas.fa-sort-alpha-up(aria-hidden="true")
        else
          span.fas.fa-sort-alpha(aria-hidden="true")
      button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
        | #{sortBy}
        span.caret
      ul.dropdown-menu(role="menu")
        each sortKeys
          li.sortKey(class="{{activeSort}}")
            a(href=linkToSort)= capitalizedKey

template(name="groupRename")
  .modal
    .modal-dialog.groupRename
      .modal-content
        .modal-header
          h2 Rename Group &ldquo;#{routeGroup}&rdquo;
        .modal-body
          .alert.alert-warning <b>Warning:</b> Group renaming is dangerous. Old links will not be preserved.
          form
            .form-group
              label(for="groupInput") New group name:
              input.form-control(id="groupInput", placeholder="Group")
            .row
              .col-xs-6
                button.btn.btn-block.btn-danger.groupRenameButton Rename Group
              .col-xs-6
                button.btn.btn-block.btn-success.cancelButton Cancel

template(name="messageList")
  //-div.list-group
  table.table.table-striped
    thead
      tr
        th
          a(href="{{linkToSort 'title'}}") Title
          if sortingBy 'title'
            span.fas(class=sortingGlyph)
        th
          a(href="{{linkToSort 'creator'}}", data-toggle="tooltip", title="Username who initially started thread") Creator
          if sortingBy 'creator'
            span.fas(class=sortingGlyph)
        th
          a(href="{{linkToSort 'published'}}", data-toggle="tooltip", title="Date original thread was published/created") Published
          if sortingBy 'published'
            span.fas(class=sortingGlyph)
        th
          a(href="{{linkToSort 'updated'}}", data-toggle="tooltip", title="Last update of any submessage in thread") Updated
          if sortingBy 'updated'
            span.fas(class=sortingGlyph)
        th.text-center
          a(href="{{linkToSort 'posts'}}", data-toggle="tooltip", title="Number of submessages in thread (excluding root message)") Posts
          if sortingBy 'posts'
            span.fas(class=sortingGlyph)
        th.text-center
          a(href="{{linkToSort 'emoji'}}", data-toggle="tooltip", title="Number of positive emoji reactions to root message of thread")
            span.fas.fa-thumbs-up.positive
          if sortingBy 'emoji'
            span.fas(class=sortingGlyph)
        //-
          th
            a(href="{{linkToSort 'emojiNeg'}}", data-toggle="tooltip")
              span.fas.fa-thumbs-down.negative
            if sortingBy 'emojiNeg'
              span.fas(class=sortingGlyph)
        th.text-center
          a(href="{{linkToSort 'subscribe'}}", data-toggle="tooltip", title="Whether you subscribe to notifications about this thread (see Settings for default)") Sub
          if sortingBy 'subscribe'
            span.fas(class=sortingGlyph)
    tbody
      each topMessages
        //-if canSee
        //-a.list-group-item(href=messageLink)
        +messageShort

template(name="importButtons")
  if canImport
    .btn-group.pull-right
      input.importInput(type="file", style="display:none", data-format="osqa", accept=".zip")
      button.btn.btn-default.importButton(data-format="osqa") Import OSQA
      input.importInput(type="file", style="display:none", data-format="latex", accept=".zip")
      button.btn.btn-default.importButton(data-format="latex") Import LaTeX
      button.btn.btn-danger.superdeleteImportButton Superdelete Imported

template(name="superdeleteImport")
  .modal
    .modal-dialog
      .modal-content
        .modal-header
          h2 Confirm Superdelete
        .modal-body
          .alert.alert-danger Are you sure you want to delete ALL imported messages in group &ldquo;#{group}&rdquo;?
          p Superdelete destroys all logs of the message ever existing and cannot be undone.  Use only for silly mistakes.
        .modal-footer
          button.btn.btn-danger.superdeleteImportConfirm Yes, superdelete
          button.btn.btn-success.cancelButton.fullwidth Cancel

template(name="messageShort")
  tr.messageShort(class=messageClass)
    td.title.tex2jax
      a(href=messageLink)
        | !{formatTitleOrUntitled}
        each tags
          span.label.label-default #{key}
          |  
        +messageLabels
    td.author
      a(href=messageLink)= creator
    td
      a(href=messageLink)
        if published
          | {{formatDate published}}
          //- span.author (posed by #{creator} {{formatDate published}})
        else
          | {{formatDate created}}
          //- span.author (created by #{creator} {{formatDate created}})
    td
      a(href=messageLink)= submessageLastUpdate
    td.text-right
      a(href=messageLink)
        span.badge(class=zeroClass)= submessageCount
    td.text-right
      if emojiPositive.length
        a(href=messageLink)
          with emojiPositive
            span.badge.badge-positive(data-toggle="tooltip", data-html="true", data-original-title=emojiWho)= emojiCount
    td.subscribe.text-center
      //- a(href=messageLink)
      button.btn.btn-default.btn-xs.subscribe
        if subscribed
          span.fas.fa-check
        else
          span.fas.fa-times

template(name="badGroup")
  if ready
    .alert.alert-danger(role="alert") The group &ldquo;<b>#{group}</b>&rdquo; either does not exist or you do not have permission to access it.
      if currentUser
        p Barring typos, you probably need to <B>talk to someone in charge</B> of the group.
      else
        p You probably need to <B>sign in</B> (in the upper-right corner).
  else
    .alert.alert-warning Loading group &ldquo;<b>#{group}</b>&rdquo;...
