template(name="group")
  if groupData
    +postButtons
    +messageList
    +importButton
  else
    +badGroup

template(name="postButtons")
  //button.btn.btn-default.postButton(class=disablePost,name="problem") Pose New Problem
  //button.btn.btn-default.postButton(class=disablePost,name="discussion") Start Discussion Thread
  button.btn.btn-default.postButton(class=disableClass, data-original-title=disableTitle, data-toggle='tooltip') New Problem/Discussion

template(name="messageList")
  div.list-group
    each topMessages
      a.list-group-item(href=messageLink)
        +messageShort
  i.panel-heading #{topMessageCount}

template(name="importButton")
  if canImport
    input.importInput(type="file", style="display:none")
    button.btn.btn-default.importButton Import

template(name="messageShort")
  .messageShort
    span.title.tex2jax= title
    span.space
    if published
      span.author (posed by #{creator} {{formatDate published}})
    else
      span.author (created by #{creator} {{formatDate created}})
    //span.badge= comments
    if deleted
      span.label.label-danger Deleted
    else
      unless published
        span.label.label-warning Unpublished

template(name="badGroup")
  .alert.alert-danger(role="alert") The group &ldquo;<b>#{group}</b>&rdquo; either does not exist or you do not have permission to access it.
    if currentUser
      p Barring typos, you probably need to <B>talk to someone in charge</B> of the group.
    else
      p You probably need to <B>sign in</B> (in the upper-right corner).
