template(name="group")
  div
    +React component=MaybeGroup group=group

template(name="groupRename")
  .modal
    .modal-dialog.groupRename
      .modal-content
        .modal-header
          h2 Rename Group &ldquo;#{routeGroup}&rdquo;
        .modal-body
          .alert.alert-warning <b>Warning:</b> Group renaming is dangerous. Old links will not be preserved.
          form
            .form-group
              label(for="groupInput") New group name:
              input.form-control(id="groupInput", placeholder="Group")
            .row
              .col-xs-6
                button.btn.btn-block.btn-danger.groupRenameButton Rename Group
              .col-xs-6
                button.btn.btn-block.btn-success.cancelButton Cancel

template(name="superdeleteImport")
  .modal
    .modal-dialog
      .modal-content
        .modal-header
          h2 Confirm Superdelete
        .modal-body
          .alert.alert-danger Are you sure you want to delete ALL imported messages in group &ldquo;#{group}&rdquo;?
          p Superdelete destroys all logs of the message ever existing and cannot be undone.  Use only for silly mistakes.
        .modal-footer
          button.btn.btn-danger.superdeleteImportConfirm Yes, superdelete
          button.btn.btn-success.cancelButton.fullwidth Cancel

template(name="downloadGroup")
  .modal
    .modal-dialog
      .modal-content
        .modal-header
          h2 Download Group as ZIP
        .modal-body
          p This feature downloads the <i>entire group</i> as a ZIP file containing static HTML, CSS, and attachments, suitable for offline viewing or archival.
          .alert.alert-danger This feature may take a long time to execute; please wait for it to complete (download a ZIP). It might crash your browser/tab (if it runs out of memory to store the ZIP).
          p 
        .modal-footer
          button.btn.btn-danger.downloadConfirm Download ZIP
          button.btn.btn-success.cancelButton.fullwidth Cancel

template(name="badGroup")
  if ready
    .alert.alert-danger(role="alert") The group &ldquo;<b>#{group}</b>&rdquo; either does not exist or you do not have permission to access it.
      if currentUser
        p Barring typos, you probably need to <B>talk to someone in charge</B> of the group.
      else
        p You probably need to <B>sign in</B> (in the upper-right corner).
  else
    .alert.alert-warning Loading group &ldquo;<b>#{group}</b>&rdquo;...
