template(name="messagePDF")
  if progress
    .progress
      .progress-bar(role="progressbar", aria-valuemin="0", aria-valuenow=progress, aria-valuemax="100", style="width: #{progress}%; min-width: 2em") #{progress}%
  else
    if multiplePages
      .btn-group.btn-group-xs
        a.btn.btn-default.prevPage(class=disablePrev)
          span.fas.fa-backward(aria-hidden="true")
        a.btn.btn-default.nextPage(class=disableNext)
          span.fas.fa-forward(aria-hidden="true")
      span.space page #{page} of #{pages}
      if rendering
        i.space (rendering)
    else
      if rendering
        i.absolute (rendering)
  //-- Outer box is to properly detect the width (including padding)
  div.pdfBox
    div.pdf
      //- pdf2svg
        i (&hellip;rendering PDF&hellip;)
      //- non-pdf2svg
      //-canvas.pdf
