template(name="message")
  if group
    +submessage
  else
    +badMessage

template(name="badMessage")
  p The message &ldquo;<b>#{message}</b>&rdquo; does not exist or you do not have permission to access it.
  unless currentUser
    p You probably need to log in.

template(name="submessage")
  .panel.panel-primary.message
    .panel-heading
      unless history
        if editingRV
          input.form-control.title(type="text", placeholder="Title", value="{{title}}", data-message=_id, style="width: 100%")
      .space-between
        .unit
          unless editingRV
            //if history
            //  span.title.tex2jax= historyTitle
            //else
            span.title.tex2jax= title
            span.space
          if deleted
            span.label.label-danger Deleted
          else
            unless published
              span.label.label-warning Unpublished
        .unit
          if history
            button.btn.btn-default.historyButton Stop History
          else
            if editingRV
              button.btn.btn-default.editButton(data-message=_id) Stop Editing
              .btn-group
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                  | #{keyboard}
                  span.caret
                ul.dropdown-menu(role="menu")
                  li.editorKeyboard(class="{{activeKeyboard 'ace'}}")
                    a(href="#",data-keyboard="ace") Ace
                  li.editorKeyboard(class="{{activeKeyboard 'vim'}}")
                    a(href="#",data-keyboard="vim") Vim
                  li.editorKeyboard(class="{{activeKeyboard 'emacs'}}")
                    a(href="#",data-keyboard="emacs") Emacs
              +formatSelector
            else
              button.btn.btn-default.historyButton History
              if canEdit
                unless isFile
                  button.btn.btn-default.editButton(data-message=_id) Edit
            if deleted
              if canUndelete
                button.btn.btn-success.deleteButton(data-message=_id) Undelete
              if canSuperdelete
                button.btn.btn-danger.superdeleteButton(data-message=_id) Superdelete
            else
              if published
                if canUnpublish
                  button.btn.btn-danger.publishButton(data-message=_id) Unpublish
              else
                if canPublish
                  button.btn.btn-success.publishButton(data-message=_id) Publish
              if canDelete
                button.btn.btn-danger.deleteButton(data-message=_id) Delete
    if history
      +messageHistory forHistory
    else
      with nothing
        if editingRV
          //+sharejsAce docid=editingRV
          +sharejsAce docid=editingNR onRender=config
    .panel-body.tex2jax !{body}
    table.message-footer
      tr
        td
          if canReply
            button.btn.btn-default.replyButton Reply
          if canAttach
            +messageAttach
        td.author
          if published
            | (posed by
          else
            | (created by
          | #{creator} {{formatDate created}}#{authors})
    .children
      each children
        +submessage

template(name="formatSelector")
  .btn-group
    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
      | {{capitalize format}}
      span.caret
    ul.dropdown-menu(role="menu")
      each formats
        li.editorFormat(class="#{active}")
          a(href="#",data-format=format)= capitalized

template(name="superdelete")
  .modal
    .modal-dialog
      .modal-content
        .modal-header
          h2 Confirm Superdelete
        .modal-body
          p Are you sure you want to delete &ldquo;#{title}&rdquo; (#{_id}) by #{creator}?
          p Superdelete destroys all logs of the message ever existing and cannot be undone.  Use only for silly mistakes.
        .modal-footer
          button.btn.btn-warning.shallowSuperdeleteButton Superdelete node, not children
          button.btn.btn-danger.deepSuperdeleteButton Recursively superdelete node and children
          button.btn.btn-success.cancelButton.fullwidth Cancel

template(name="messageHistory")
  //.tex2jax !{body}
  .historySlider
    input(type="text", style="display: none")

template(name="messageAttach")
  input.attachInput(type="file", style="display:none", multiple)
  button.btn.btn-default.attachButton Attach

template(name="messageProgress")
  each uploading
    label= filename
    .progress
      .progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow=progress, aria-valuemin="0", aria-valuemax="100", style="width: #{progress}%") #{progress}%
