//- Read-only (non-editable) version of message

template(name='readMessageHeader')
  +rootHeader
  +readMessage

template(name='readMessage')
  .panel.message(class=messagePanelClass, data-message=_id, id=_id)
    .panel-heading.clearfix
      .message-left-buttons.btn-group.btn-group-xs
        button.btn.btn-info.foldButton(aria-label="Fold")
          if folded
            span.fas.fa-plus(aria-hidden="true")
          else
            span.fas.fa-minus(aria-hidden="true")
        a.btn.btn-info.focusButton(aria-label="Focus", href="{{pathFor 'message' group=group message=_id}}")
          span.fas.fa-sign-in-alt(aria-hidden="true")
      span.space
      span.title.panel-title.tex2jax !{formatTitleBold}
      span.space
      +messageTags
      +messageLabels
      unless root
        span.pull-right.badge(data-toggle="tooltip", title="Number of submessages within thread")= submessageCount
    unless folded
      .panel-body
        .message-body.tex2jax !{formatBody}
        if file
          if pdf
            with pdf
              +messagePDF
          p.message-file !{formatFile}
      .message-footer.message-reply-buttons.clearfix
        +emojiButtons
        +messageAuthor
      .children
        each readChildren
          +readMessage
