template(name='search')
  if groupDataOrWild
    .panel.panel-primary.search
      .panel-heading.clearfix
        span.push-down.btn-group.btn-group-xs
          .fake-btn &#8203;
        if wildGroup
          span.title.panel-title GLOBAL search for #{formatSearch}
        else
          span.title.panel-title #{group} search for #{formatSearch}
        span.push-down.pull-right.badge= messageCountText
      .panel-body
        each messages
          +submessageHeader
      .panel-footer.clearfix
        i= messageCountText
        | match search query
  else
    +badGroup
