template(name="settings")
  if currentUser
    h1 Settings
    with profile
      table.table.table-striped.settings
        tbody
          tr
            th
              label Full name: 
            td
              +fullNameEditor
          tr
            th
              label Email address:
            td
              +emailEditor
              div
                +_loginButtonsAdditionalLoggedInDropdownActions
          tr
            th
              label Default <a href="https://github.com/edemaine/coauthor#features-so-far">message format</a> (they all support LaTeX math):
            td
              +formatSelector
          tr
            th
              label Default editor keyboard:
            td
              +keyboardSelector
          tr
            th
              label Messages initially published:
            td
              if autopublish
                button.btn.btn-success.autopublishButton(type="button", data-toggle="button", autocomplete="off") Yes
              else
                button.btn.btn-warning.autopublishButton(type="button", data-toggle="button", autocomplete="off") No
          tr
            th
              label Editor theme:
            td
              button.btn.btn-default.themeButton(type="button", data-toggle="button", autocomplete="off")= theme
          tr
            th
              label Email notifications:
            td
              if notificationsOn
                button.btn.btn-success.notificationsButton(type="button", data-toggle="button", autocomplete="off")
                  if notificationsDefault
                    | Default (Yes)
                  else
                    | Yes
              else
                button.btn.btn-warning.notificationsButton(type="button", data-toggle="button", autocomplete="off")
                  if notificationsDefault
                    | Default (No)
                  else
                    | No
          tr
            th
              label Subscribe to threads by default (unless overwritten by group subscription):
            td
              if autosubscribeGlobal
                button.btn.btn-success.autosubscribeGlobalButton(type="button", data-toggle="button", autocomplete="off")
                  | Yes
              else
                button.btn.btn-warning.autosubscribeGlobalButton(type="button", data-toggle="button", autocomplete="off")
                  | No
          unless wildGroup
            tr
              th
                label Subscribe to threads <i>in this group</i> by default:
              td
                if autosubscribeGroup
                  button.btn.btn-success.autosubscribeGroupButton(type="button", data-toggle="button", autocomplete="off")
                    | Yes
                else
                  button.btn.btn-warning.autosubscribeGroupButton(type="button", data-toggle="button", autocomplete="off")
                    | No
          tr
            th
              label Notifications for own messages:
            td
              if notifySelf
                button.btn.btn-success.notifySelfButton(type="button", data-toggle="button", autocomplete="off")
                  | Yes
              else
                button.btn.btn-warning.notifySelfButton(type="button", data-toggle="button", autocomplete="off")
                  | No
          tr
            th
              label Dropbox account linking:
            td
              if dropbox
                button.btn.btn-danger.unlinkDropbox Unlink Dropbox Account
              else
                button.btn.btn-default.linkDropbox Link Dropbox Account
  else
    .alert.alert-danger(role="alert") Please <B>sign in</B> (in the upper-right corner) to change your settings.

template(name="fullNameEditor")
  form.input-group
    if editing
      input.form-control.fullname.textEdit(type="text", placeholder="FirstName LastName", value=fullname)
    else
      input.form-control(type="text", value=showFullname, disabled)
    span.input-group-btn
      if editing
        button.btn.btn-info.saveButton Save
      else
        button.btn.btn-info.editButton Edit

template(name="emailEditor")
  form.input-group
    if editing
      input.form-control.email.textEdit(type="text", placeholder="username@hostname.org", value=email)
    else
      input.form-control(type="text", value=showEmail, disabled)
    span.input-group-btn
      if editing
        button.btn.btn-info.saveButton Save
      else
        button.btn.btn-info.editButton Edit
