template(name='since')
  if groupData
    .panel.panel-primary
      .panel-heading.clearfix
        form.form-inline
          span.title.panel-title= group
          span.space
          | since
          input(type='text', size='10', value=since).form-control#sinceInput
          | = #{parseSince}
          span.pull-right.badge= messageCount
      .panel-body
        if valid
          each messages
            +readMessageHeader
        else
          .alert.alert-danger(role="alert") Invalid &ldquo;since&rdquo; query.  Examples: &ldquo;5 days&rdquo; or &ldquo;2016-01-01 15:30&rdquo; or &ldquo;0:00&rdquo;.
      if valid
        .panel-footer.clearfix
          i= messageCount
          | since #{parseSince}
  else
    +badGroup
