template(name='stats')
  if groupData
    +statsGood
  else
    +badGroup

template(name='statsGood')
  h1
    | Statistics by
    .btn-group
      button.btn.btn-lg.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
        | #{unit}
        span.caret
      ul.dropdown-menu(role="menu")
        li.unit(class="{{activeUnit 'hour'}}")
          a(href="#",data-unit="hour") Hour
        li.unit(class="{{activeUnit 'weekday'}}")
          a(href="#",data-unit="weekday") Day of week
        li.unit(class="{{activeUnit 'day'}}")
          a(href="#",data-unit="day") Day
        li.unit(class="{{activeUnit 'week'}}")
          a(href="#",data-unit="week") Week
        li.unit(class="{{activeUnit 'month'}}")
          a(href="#",data-unit="month") Month
        li.unit(class="{{activeUnit 'year'}}")
          a(href="#",data-unit="year") Year
    if week
      span.small starting on 
      if canSuper
        .btn-group
          button.btn.btn-lg.btn-danger.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            | #{weekStart}
            span.caret
          ul.dropdown-menu(role="menu")
            li.weekStart(class="{{activeWeekStart 0}}")
              a(href="#",data-day="0") Sunday
            li.weekStart(class="{{activeWeekStart 1}}")
              a(href="#",data-day="1") Monday
            li.weekStart(class="{{activeWeekStart 2}}")
              a(href="#",data-day="2") Tuesday
            li.weekStart(class="{{activeWeekStart 3}}")
              a(href="#",data-day="3") Wednesday
            li.weekStart(class="{{activeWeekStart 4}}")
              a(href="#",data-day="4") Thursday
            li.weekStart(class="{{activeWeekStart 5}}")
              a(href="#",data-day="5") Friday
            li.weekStart(class="{{activeWeekStart 6}}")
              a(href="#",data-day="6") Saturday
      else
        span.small #{weekStart}
  .userStats(class=hideIfNoUser)
    h2 !{linkToAuthor}&rsquo;s Statistics: {{postCount 'user'}} posts
    canvas.userStats(width="800", height="400")
  h2 Global Statistics: {{postCount 'global'}} posts
  canvas.globalStats(width="800", height="400")
  hr
  p.small * Data represents <b>undeleted</b>, <b>published</b> messages <b>visible to you</b>. Messages are plotted according to their <b>creation date</b>.
