template(name='tag')
  if groupData
    .panel.panel-primary
      .panel-heading
        span.title.panel-title Tag &ldquo;#{tag}&rdquo;
      .panel-body
        each messages
          +readMessage
      .panel-footer
        i= messageCount
        | tagged &ldquo;#{tag}&rdquo; in group #{group}
        span.space
        //-
          xxx can't search global yet -- would need to adjust publication
          if wildLink
            a.btn.btn-warning(href=wildLink) Search All Groups
  else
    +badGroup
