template(name="users")
  table.table.table-striped.table-hover.users
    tbody
      tr
        th Username
        th Read
        th Post
        th Edit
        th Super
        th Admin
      each users
        tr(data-username=username)
          th #{username}
          td(data-role="read") !{readRole}
          td(data-role="post") !{postRole}
          td(data-role="edit") !{editRole}
          td(data-role="super") !{superRole}
          td(data-role="admin") !{adminRole}
      if showAnonymous
        tr(data-username="*")
          th
            i &lt;anonymous&gt;
          td(data-role="read") !{anonReadRole}
          td(data-role="post") !{anonPostRole}
          td(data-role="edit") !{anonEditRole}
          td(data-role="super") !{anonSuperRole}
          td(data-role="admin") !{anonAdminRole}
  if wildLink
    button.globalUsersButton.btn.btn-warning Edit Global User Permissions
