template(name="users")
  h3
    if message
      | Permissions for thread
      with messageData
        |  &ldquo;<a href="{{pathFor 'message' group=group message=_id}}">#{titleOrUntitled}</a>&rdquo; in group &ldquo;<a href="{{pathFor 'group' group=group}}">#{group}</a>&rdquo;
    else
      unless wild
        | Permissions for group &ldquo;<a href="{{pathFor 'group' group=group}}">#{group}</a>&rdquo;
      else
        | Global permissions for all groups
    .links.btn-group.pull-right
      if groupLink
        a(href="{{pathFor 'users' group=group}}").btn.btn-warning Edit Group Permissions
      if wildLink
        a(href=wildLink).btn.btn-danger Edit Global Permissions
  table.table.table-striped.table-hover.users.clearfix
    thead
      tr
        th Username
        th
          span(data-toggle="tooltip", title="Permission to see the group at all, and read all messages within") Read
        th
          span(data-toggle="tooltip", title="Permission to post new messages and replies to the group, and to edit those authored messages") Post
        th
          span(data-toggle="tooltip", title="Permission to edit all messages, not just previously authored messages") Edit
        th
          span(data-toggle="tooltip", title="Permission to perform dangerous operations: history-destroying superdelete and XML import") Super
        th
          span(data-toggle="tooltip", title="Permission to administer other users in the group, i.e., to change their permissions") Admin
    tbody
      each users
        tr(data-username=username)
          th
            if fullname
              div.name #{fullname} (<a href="{{pathFor 'author' group=routeGroup author=username}}">#{username}</a>, #{email})
            else
              div.name <a href="{{pathFor 'author' group=routeGroup author=username}}">#{username}</a>, #{email}
            div.createdAt created {{formatDate createdAt}}
          td(data-role="read") !{readRole}
          td(data-role="post") !{postRole}
          td(data-role="edit") !{editRole}
          td(data-role="super") !{superRole}
          td(data-role="admin") !{adminRole}
        if partialMember
          tr.partialMember
            td(colspan="6")
              | Partial access to messages:
              each partialMember
                |  &bull; <a href="{{pathFor 'users.message' group=group message=_id}}">#{titleOrUntitled}</a>
      if showAnonymous
        tr(data-username="*")
          th
            i &lt;anonymous&gt;
          td(data-role="read") !{anonReadRole}
          td(data-role="post") !{anonPostRole}
          td(data-role="edit") !{anonEditRole}
          td(data-role="super") !{anonSuperRole}
          td(data-role="admin") !{anonAdminRole}
      if showInvitations
        tr
          td(colspan='6')
            input(type='text', size='40', rows='3')#invitationInput
            button.invitationButton.btn.btn-warning Invite Users via Email
        each invitations
          tr(data-email=email)
            th #{email}
            td(data-role="read") !{readRole}
            td(data-role="post") !{postRole}
            td(data-role="edit") !{editRole}
            td(data-role="super") !{superRole}
            td(data-role="admin") !{adminRole}
